/******************************************/
/*              HTML SELECTORS            */
/******************************************/
section {
    padding: 3% 7%;
}

/******************************************/
/*                HEADINGS                */
/******************************************/

/******************************************/
/*                SECTIONS                */
/******************************************/

/******************************************/
/*               Containers               */
/******************************************/

/******************************************/
/*              TITLE SECTION             */
/******************************************/

#Nav {
    font-size: 1.5rem;
    font-family: 'Ubuntu';
    padding: 0.5% 3%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}


/* .title-Image {
    width: 100vw;
} */

/******************************************/
/*                 Nosotros               */
/******************************************/

/******************************************/
/*             Mision - Vision            */
/******************************************/

/* .mv{
    padding: 3% 7%;
} */
/******************************************/
/*               Actividades              */
/******************************************/

/******************************************/
/*                  Footer                */
/******************************************/

.ico {
    margin: 0.5%;
    color: grey;
}

.ico:hover {
    color: black;
    font-size: 1.5rem;
}

#footer {
    padding: 3%;
    color: lightslategray;
    font-size: 15px;
}