/******************************************/
/*              HTML SELECTORS            */
/******************************************/
section {
    padding: 5% 12%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
    font-weight: 900;
    color: #112D4E;
}

/******************************************/
/*                HEADINGS                */
/******************************************/

/******************************************/
/*                SECTIONS                */
/******************************************/

/******************************************/
/*               Containers               */
/******************************************/

/******************************************/
/*              TITLE SECTION             */
/******************************************/

#Nav {
    font-size: 1.5rem;
    font-family: 'Ubuntu';
    padding: 0.5% 3%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}


/* .title-Image {
    width: 100vw;
} */

/******************************************/
/*                 Nosotros               */
/******************************************/

/******************************************/
/*             Mision - Vision            */
/******************************************/


.mv-text{
    padding-right: 15%;
}
.mv-icon{
    font-size: 3.5rem;
}

#mv{
    height: 50vh;
    background-color: #F9F7F7;
    display: flex;
    align-items: center;
}
/******************************************/
/*               Actividades              */
/******************************************/
.activities{
    padding: 3% 0%;
    height: 50vh;
}
.activity{
    padding: 3% 12.5%;
}
.text-act{
    padding-right: 15%;
}
/******************************************/
/*                  Footer                */
/******************************************/

.ico {
    margin: 0.5%;
    color: #F9F7F7;
}

.ico:hover {
    font-size: 1.5rem;
}

#footer {
    padding: 3%;
    color: #F9F7F7;
    font-size: 15px;
    text-align: center;
    background-color: #3F72AF;
}

/******************************************/
/*             Media Functions            */
/******************************************/

@media (max-width:800px) {

    #mv{
        height: 100vh;
    }

    .mv-text{
        padding: 12% 0%;
    }
    
    .activity{
        padding: 10% 7% 10% 12%;
    }
}